#titulo{
    color: black;
}

.color {
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 2px;
    padding-left: 10px;   
    padding-right: 10px; 
    text-decoration: none;
}

.color {
    background-color: orange ;
}
.color {
    color: black ;
}