*{
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    user-select: none;  
} 

h1{
    font-size: 2.5vw;
    text-align: center;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

h2{
    font-size: 2vw;
    margin: 2vw;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    background: rgba(0, 0, 0, 0.204);
}

.texto{
    display: flex;
    justify-content: center;
    text-align: center;
}
.texto img{
    width: 350px;
    margin-left: 80px;
    border-radius: 10px;
    margin: 10px;
}
.texto div{
    background: rgba(0, 0, 0, 0.204);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}

h3{
    font-size: 2vw;
    margin: 1vw;
}
p{
    font-size: 1.2vw;
    margin: 1vw;
}

.formu{
    text-align: center;
}
 form{
    margin-top: 50px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin-left: 33vw;
    height: 500px;
    background: rgba(0, 0, 0, 0.204);
    border-radius: 10px;
    box-shadow: 0 0 10px;
 }
 form input{
   margin: 2vw;
   align-items: center;
   text-align: center;
   width: 15vw;
   height: 1vw;
   border-radius: 12px;
   background-color: rgba(0, 0, 0, 0.336);
 }
button{
   width: 15vw;
   background: red;
   color: white;
   border-radius: 8px;
   height: 30px;
 }

 select{
    width: 15vw;
    margin: 2vw;
    background-color: red;
    color: white;
    height: 30px;
    border-radius: 10px;
 }
 .video{
    display: flex;
    justify-content: center;
 }
 iframe{
    width: 80wv;
    margin: 2vw;
    border-radius: 20px;

}
 a{
    display: flex;
    font-size: 2vw;
    text-decoration: none;
    color: rgb(52, 78, 13);
    font-weight: 600;
    justify-content: center;
    margin: 30px;
 }

 footer{
    background: black;
    color: white;
    height: 5vw;
    display: flex;
    justify-content: center;
 }
 table ,td ,th{
    border: 3px solid red;
    border-collapse: collapse;
    width: 40vw;
    text-align: center;
    margin: 10px;
}

.hora{
    text-align: center;
}
::placeholder { color: rgb(255, 255, 255);}